<nav class="sidenav-container">
  <div class="sidenav">
    <ul>
      <a routerLink="/explore" routerLinkActive="sidenav-active">
        <li class="sidenav-item" >
          <fa-icon [icon]="faMagnifyingGlass"></fa-icon>
          <span>Explore</span>
        </li>
      </a>
      <a routerLink="/top-songs" routerLinkActive="sidenav-active">
        <li class="sidenav-item">
          <fa-icon [icon]="faTrophy"></fa-icon>
          <span>Top 50</span>
        </li>
      </a>
      <li class="sidenav-item">
        <fa-icon [icon]="faHeart"></fa-icon>
        <span>Liked Songs</span>
      </li>
      <li class="sidenav-item">
        <fa-icon [icon]="faList"></fa-icon>
        <span>Playlists</span>
      </li>
    </ul>
  </div>
  <div class="sidenav-content">
    <router-outlet></router-outlet>
  </div>
</nav>
